<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhj.ase13.mobcomp2.phonetracker" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="at.fhj.ase13.mobcomp2.phonetracker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="at.fhj.ase13.mobcomp2.phonetracker.TrackingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="at.fhj.ase13.mobcomp2.phonetracker.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="at.fhj.ase13.mobcomp2.phonetracker.LogAlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
